name: apply-snowflake-keys
on:
  workflow_dispatch:
    inputs:
        environment:
            description: 'Environment where the secrets will be applied'
            required: true
            type: string
        snowflake_user:
            description: 'Snowflake User to query keys for'
            required: true
            type: string  
        snowflake_key_title:
            description: 'Title of the Snowflake key in KeePass'
            required: false
            type: string   
        repo_secret_name:
            description: 'Github repo secret updated with the Snowflake key'
            required: false
            type: string
        aws_path:
            description: 'AWS Secrets Manager path to store the Snowflake key'
            required: false
            type: string            
        keepass_branch:
            description: 'KeePass Branch to use'
            required: false
            default: 'main'
            type: string 
run-name: Apply Snowflake Keys - ${{ github.event.inputs.snowflake_user }}
jobs:
  call-apply-snowflake-keys-reusable:
    name: Apply Snowflake Keys
    #uses: Sanofi-GitHub/Research_Foundation-Tool_Box_Automation/.github/workflows/apply-snowflake-keys-reusable.yaml@main
    uses: Sanofi-GitHub/Research_Foundation-Tool_Box_Automation/.github/workflows/apply-snowflake-keys-reusable.yaml@Feature/DCSM-3569-errorhandling
    secrets: inherit
    with:
      environment: ${{ github.event.inputs.environment }}
      snowflake_user: ${{ github.event.inputs.snowflake_user }}
      snowflake_key_title: ${{ github.event.inputs.snowflake_key_title }}
      repo_secret_name: ${{ github.event.inputs.repo_secret_name }}
      aws_path: ${{ github.event.inputs.aws_path }}
      keepass_branch: ${{ github.event.inputs.keepass_branch }}

      
