name: upload-secrets-AWS-reusable

on:
  workflow_call:
    inputs:
        environment:
            description: 'deployment environment'
            type: string
            required: true
        aws_region:
            description: 'AWS region'
            type: string
            required: true
            default: 'eu-west-1'
        secret_path:
            description: 'secret path in AWS Secrets Manager'
            type: string
            required: true
        use_repository_secrets:
            description: 'Use repository secrets to get the secret value'
            type: boolean
            required: true
            default: false
        customized_secret:
            description: 'Customized secret to upload'
            type: string
            required: false
            default: ''
        repository_secret_name:
            description: 'Repository secret name to get the secret value from'
            type: string
            required: false
            default: ''

jobs:
  upload-AWS-secret-manager-reusable:
    name: Upload secret to AWS Secrets Manager Reusable
    permissions:
        id-token: write
        contents: read
    environment: ${{ inputs.environment }}
    runs-on: ['atmos-aws-arc-runner-set']
    container:
      image: docker-innersource-remote.artifactorydev.p230559371484.aws-emea.sanofi.com/python:3.12
      volumes:
          - /var/run/secrets/eks.amazonaws.com/serviceaccount/token:/var/run/secrets/eks.amazonaws.com/serviceaccount/token
    steps:
        - name: Configure AWS connections
          uses:  Sanofi-GitHub/Research_Foundation-Tool_Box_Automation/.github/actions/configure-aws-connection@main
          with:
            IAM_ROLE: ${{ vars.IAM_ROLE }}
            PROJECT_NAME: ${{ vars.PROJECT_NAME }}
            aws_region: ${{ inputs.aws_region }}

        - name: Upload customized secrets to AWS Secrets Manager 
          if: ${{ inputs.use_repository_secrets == false }}
          uses: Sanofi-GitHub/Research_Foundation-Tool_Box_Automation/.github/actions/upload-aws-secret@main
          with:
            secret_id: "${{ inputs.secret_path }}"
            secret_string: "${{ inputs.customized_secret }}"
            aws_region: "eu-west-1"

        - name: Upload repository secrets to AWS Secrets Manager
          if: ${{ inputs.use_repository_secrets == true }}
          uses: Sanofi-GitHub/Research_Foundation-Tool_Box_Automation/.github/actions/upload-aws-secret@main 
          with:
            secret_id: "${{ inputs.secret_path }}"
            secret_string: "${{ secrets[inputs.repository_secret_name] }}"
            aws_region: "eu-west-1"